* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    background: #f5f5f5;
}
.Slider {
    background: #fff;
    width: 90%;
    max-width: 900px;
    margin: 20px auto 10px auto;
    height: 500px;
    box-shadow: 0 4px 12px -5px rgba(0, 0, 0, 0.3);
    position: relative;
}
.slide {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
}
.Slider:hover .sliderIcon {
    opacity: 1;
}
.sliderIcon {
    position: absolute;
    top: 45%;
    background: #fff;
    padding: 9px;
    color: #afafaf;
    opacity: 0.3;
    z-index: 5;
    outline: none !important;
    cursor: pointer;
}
.leftPrevIco {
    left: 0;
    border-radius: 0 20px 20px 0;
}
.leftNextIcon {
    right: 0;
    border-radius: 20px 0 0 20px;
}
.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.3;
    }
}
@-o-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.3;
    }
}
@-moz-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.3;
    }
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.3;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-o-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-o-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.author {
    margin: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    border-top: 1px solid #f5f5f5;
    :
}
.author p {
    color: darkgrey;
    padding: 5px 0;
}
.author a {
    text-decoration: none;
    color: #5f87e4;
}